@charset "utf-8";

* {
	margin:0; padding:0;
}
body{
	background-color:#ffffff;
	font-family:"メイリオ",'Meiryo',"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3", sans-serif;
	font-size: 16px;
	-webkit-text-size-adjust: 100%;
}
div#pagebody{
	max-width:1400px;
	width: 100%;
	min-width: 850px;
	margin:0 auto;	/* center contents */
}

/* nav */
#current a {
	color:#fcd69e;
}
header {
	height: 40px;
	width: 100%;
	min-width: 850px;
	padding: 15px 0;
	background-color:#333333;
	color: white;
}
header .headline{
	line-height: 40px;
	float: left;
	font-size: 25px;
	margin-left: 5%;
}
.pc-nav ul {
	line-height: 40px;
	float: left;
	margin-left: 30px;
	list-style: none;
}
.nav-list-item {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}
.nav-list-item a {
	font-weight: bold;
	text-decoration: none;
	font-size: 18px;
	color: #ffffff;
}
.nav-list-item a:hover {
	color: #888;
	transition: 0.2s;
}
.sp-nav {
	display: none;
}

/* heading picture */
.header_img {
	position: relative;
	height: auto;
}
.header_img h2 {
	position: absolute;
	color: white;
	font-size: 40px;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	margin:0;
	padding:0;
}

.header-img-slide {
    width: 100%;
	min-width: 850px;
    position: relative;
}
/* measures against zero height of ".header-img-slide" because of position property of ".header-img-slide img" */
.header-img-slide::after{
	content: "";
	display: block;
	padding-top: calc(700/3000*100%);
}

.header-img-slide img {
    width:100%;
	filter: brightness(50%);
    position: absolute;
}

main {
	margin: 10px 15px 20px;
}

h3 {
	border-bottom: solid 3px #fcd69e;
	padding: 5px 10px;
	margin: 10px 0 10px;
}

footer{
	width: 100%;
	min-width: 850px;
	height: 40px;
	background-color: #333333;
	color: white;
	text-align: center;
	line-height: 40px;
}
body {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
}
div#pagebody {
	flex: 1;
}

@media screen and (max-width: 700px) {
	.pc-nav ul {
		display: none;
	}

	div#pagebody{
		width: 100%;
		min-width: 260px;
		margin:0;
	}

	header {
		height: 40px;
		width: 100%;
		min-width: 260px;
		padding: 15px 0;
		background-color:#333333;
		color: white;
	}

	.header-img-slide {
		width: 100%;
		min-width: 0px;
		position: relative;
	}

	footer{
		width: 100%;
		min-width: 260px;
		height: 40px;
		background-color: #333333;
		color: white;
		text-align: center;
		line-height: 40px;
	}

	#hamburger {
		position: relative;
		display: block;
		width: 30px;
		height: 25px;
		margin: 5px 5% 0 auto;
	}

	#hamburger span {
		position: absolute;
		top: 50%;
		left: 0;
		display: block;
		width: 100%;
		height: 2px;
		background-color: #fff;
		transform: translateY(-50%);
	}

	#hamburger::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #fff;
	}
	
	#hamburger::after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 70%;
		height: 2px;
		background-color: #fff;
	}

	.sp-nav {
		z-index: 1;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		display: block;
		width: 100%;
		background: rgba(0, 0, 0, .8);
		transition: all .2s ease-in-out;
		opacity: 0;
		transform: translateY(-100%);
	}

	.sp-nav ul {
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	.sp-nav li {
		list-style: none;
		display: inline-block;
		margin: 0;
		padding: 0;
	}
	.sp-nav li span {
		font-size: 15px;
		color: #fff;
	}

	.sp-nav li a {
		font-size: 18px;
	}
	.sp-nav li a, .sp-nav li span {
		font-weight: bold;
		text-decoration: none;
		color: #ffffff;
		display: block;
		padding: 20px 0;
	}

	.sp-nav .close {
		position: relative;
		padding-left: 20px;
	}

	/* close icon */
	.sp-nav .close::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		display: block;
		width: 16px;
		height: 1px;
		background: #fff;
		transform: rotate( 45deg );
	}
	.sp-nav .close::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		display: block;
		width: 16px;
		height: 1px;
		background: #fff;
		transform: rotate( -45deg );
	}

	.toggle {
		transform: translateY( 0 );
		opacity: 1;
	}

	.header_img h2 {
		position: absolute;
		color: white;
		font-size: 25px;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
		margin:0;
		padding:0;
	}

}

	




