@charset "utf-8";

div#profile-list {
	width: 100%;
	overflow: auto;
}
div#profile-list dl{
	min-width: 500px;
	width:70%;
	box-sizing: border-box;
}

div#profile-list dl dt{
	border-top:1px dashed #666666;
	float: left;
	width:30%; /* dd の margin-left と連携 */
	padding: 10px 0;
}

div#profile-list dl dd{
	border-top:1px dashed #666666;
	padding: 10px 0;
	margin-left: 30%; /* dtのwidthと連携 */
}

div#profile-list dl dt:first-child{
	border-top:none;
}

div#profile-list dl dt:first-child + dd{
	border-top:none;
}