@charset "utf-8";

* {
	margin:0; padding:0;
}

body{
	background-color:#ffffff;		/*ページ全体の背景色*/
	font-family:"メイリオ",'Meiryo',"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3", sans-serif;
}
div#pagebody{
	max-width:1400px;
	width: 100%;
	min-width: 850px;
	margin:0 auto;	/*内容全体をセンタリング*/
}

/*============================================
メインメニュー
============================================*/



#current a {
	color:#fcd69e;
}

header {
	height: 40px;
	width: 100%;
	min-width: 850px;
	padding: 15px 0;
	background-color:#333333;
	color: white;
}

header .headline{
	line-height: 40px;
	float: left;
	font-size: 25px;
	/* margin-left: 90px; */
	margin-left: 5%;
}
.nav-list {
	line-height: 40px;
	float: left;
	margin-left: 30px;
	list-style: none;
}
.nav-list-item {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}

.nav-list-item a {
	font-weight: bold;
	text-decoration: none;
	font-size: 18px;
	color: #ffffff;
}

.nav-list-item a:hover {
	color: #888;
	transition: 0.2s;
}

.sp-nav {
	display: none;
}




/*========================================
ヘッダ画像
========================================*/
.header_img {/*親div*/
	position: relative;/*相対配置*/
}

.header_img h2 {
	position: absolute;/*絶対配置*/
	color: white;
	font-size: 40px;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	margin:0;
	padding:0;
}

.header_img img {
	width: 100%;
	min-width: 850px;
	vertical-align:top;
	filter: brightness(50%);

	/* じわっと画像が表示される */
	animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}
 
/* じわっと画像が表示される ---------　一度追加していたら不要*/
@keyframes fadeIn { /*上のbody内で呼び出しているアニメーションと名前をそろえる*/
    0% {opacity: 0} /* 始め */
    100% {opacity: 1} /* 終わり */
}
 
/*古いブラウザ用　---------　一度追加していたら不要*/
@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

main {
	margin: 10px 15px 20px; /*上 左右 下*/
}

/* main p {
	margin-bottom: 20px;
} */


/*============================================
見出し
============================================*/
h3 {
	/*背景色*/
	/* background: #F7FAFD; */
	border-bottom: solid 3px #fcd69e;
	padding: 5px 10px;/*文字まわり（上下左右）の余白*/
	margin: 10px 0 10px;
}

/*============================================
footer
============================================*/
footer{
	width: 100%;
	min-width: 850px;
	height: 40px;
	background-color: #333333;
	color: white;
	text-align: center;
	line-height: 40px;
}
body {
	display: flex;
	flex-flow: column;
	min-height: 100vh;
}
div#pagebody {
	flex: 1;
}

@media screen and (max-width: 700px) {
	ul.nav-list {
		display: none;
	}

	div#pagebody{
		width: 100%;
		min-width: 0px;
		margin:0;
	}

	header {
		height: 40px;
		width: 100%;
		min-width: 0px;
		padding: 15px 0;
		background-color:#333333;
		color: white;
	}

	.header_img img {
		width: 100%;
		min-width: 0px;
		vertical-align:top;
		filter: brightness(50%);
	
		/* じわっと画像が表示される */
		animation: fadeIn 2s ease 0s 1 normal;
		-webkit-animation: fadeIn 2s ease 0s 1 normal;
	}

	footer{
		width: 100%;
		min-width: 0px;
		height: 40px;
		background-color: #333333;
		color: white;
		text-align: center;
		line-height: 40px;
	}

	#hamburger {
		position: relative;
		display: block;
		width: 30px;
		height: 25px;
		margin: 0 5% 0 auto;
	}

	#hamburger span {
		position: absolute;
		top: 50%;
		left: 0;
		display: block;
		width: 100%;
		height: 2px;
		background-color: #fff;
		transform: translateY(-50%);
	}

	#hamburger::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #fff;
	}
	
	#hamburger::after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 70%;
		height: 2px;
		background-color: #fff;
	}

	/*******************************/
	.nav-list-item {
		list-style: none;
		display: inline-block;
		margin: 0 20px;
	}
	
	.nav-list-item a {
		font-weight: bold;
		text-decoration: none;
		font-size: 18px;
		color: #ffffff;
	}
	
	.nav-list-item a:hover {
		color: #888;
		transition: 0.2s;
	}
	/*******************************/




	.sp-nav {
		z-index: 1;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		display: block;
		width: 100%;
		background: rgba(0, 0, 0, .8);
		transition: all .2s ease-in-out;
		opacity: 0;
		transform: translateY(-100%);
	}

	.sp-nav ul {
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	.sp-nav li {
		list-style: none;
		display: inline-block;
		margin: 0;
		padding: 0;
	}
	.sp-nav li span {
		font-size: 15px;
		color: #fff;
	}

	.sp-nav li a {
		font-size: 18px;
	}
	.sp-nav li a, .sp-nav li span {
		font-weight: bold;
		text-decoration: none;
		color: #ffffff;
		display: block;
		padding: 20px 0;
	}

	.sp-nav .close {
		position: relative;
		padding-left: 20px;
	}

	/*バツ印線1*/
	.sp-nav .close::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		display: block;
		width: 16px;
		height: 1px;
		background: #fff;
		transform: rotate( 45deg );
	}

	/*バツ印線2*/
	.sp-nav .close::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		display: block;
		width: 16px;
		height: 1px;
		background: #fff;
		transform: rotate( -45deg );
	}

	.toggle {
		transform: translateY( 0 );
		opacity: 1;
	}

	/* .main-visual {
		padding: 0 4%;
	} */

	/* h2 {
		line-height: 1.6;
		text-align: center;
	} */

}

	




