@charset "utf-8";

div#news {
	width: 100%;
	overflow: auto;
}
div#news dl{
	min-width: 300px;
	width:500px;
	box-sizing: border-box;
}

div#news dl dt{
	border-top:1px dashed #666666;
	float: left;
	width:120px; /* div#news dl dd margin-left と連動 */
	padding: 10px 0;
}

div#news dl dd{
	border-top:1px dashed #666666;
	padding: 10px 0;
	margin-left: 120px;
}

div#news dl dt:first-child{
	border-top:none;
}

div#news dl dt:first-child + dd{
	border-top:none;
}
