@charset "utf-8";

/* リンクスタイル */
ul#links{
	width:500px;
}
#links li{
	border-bottom:1px solid #ccc;
	list-style:none;
}
#links li a{
	text-decoration:none;
	display: block;
	padding: 10px 0;
}
#links li a span{
	color: #131313;
	vertical-align: middle;
	display: inline-block;
	margin-right: 10px;
}
#links li a p{
	color: #131313;
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
