@charset "utf-8";

/*============================================
リンクの設定
============================================*/
dl#linktable{
	width: 90%;
	padding: 3%;
	box-sizing: border-box;
}

dl#linktable dt{
	border-top: 1px dashed #666666;
	float: left;
	width: 30%; /* dl#linktable dd の margin-left と連動 */
	padding: 10px 0;
}

dl#linktable dd{
	border-top: 1px dashed #666666;
	padding: 10px 0;
	margin-left: 30%;
}

dl#linktable dt:first-child{
	border-top: none;
}

dl#linktable dt:first-child + dd{
	border-top: none;
}
