@charset "utf-8";

/* リンクスタイル */
dl#link-list {
	overflow: hidden;
	zoom: 1;
}
dl#link-list dt {
	margin-bottom: 5px;
	padding-bottom: 5px;
	width: 500px;
	float: left;
	clear: both;
	font-weight: bold;
}
dl#link-list dd {
	margin-bottom: 5px;
	padding: 0 0 5px 500px;
	border-bottom: 1px dotted #999;
}
	
