@charset "utf-8";

/* TODO:記事用設定 */
/* main h3{
	clear: left;
}

main p{
	float: left;
	width: 70%;
	margin-bottom: 10px;
}

main img{
	width: 20%;
	float: left;
	margin:0 5px;
	margin-bottom: 10px;
} */